{% extends 'default dashbord/base.html' %}

{% block content %}
{% load static %}


<div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Light table</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          
          
            
          
            
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Date Ordered</th>
                <th scope="col" class="sort" data-sort="name">Order ID</th>
                
                <th scope="col">Price</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
                <th scope="col">Users</th>
                
                <th scope="col">Action</th>
              </tr>
            </thead>
            {% for ord in order  %}
            <tbody class="list">
              <tr>
                <th scope="row">
                    {{ord.date_ordered}}
                  </th>
                <th scope="row">
                  {{ord.transaction_id}}
                </th>
                
                <td>
                    ${{ord.total}}

                </td>
                <td>
                  
                  {% if ord.complete == False %}
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">Pending</span>
                  </span>
                    {% else %}
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <span class="status">Complete</span>
                    </span>

                  {% endif %}
                    
                  
                </td>
                <td>
                  {{ord.customer}}
                </td>
                <td>
                  <button class="btn btn-primary">Proceed</button>
                </td>
                
              </tr>
              
              
            </tbody>
            {% endfor %}
          </table>
          
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}