{% extends 'default dashbord/base.html' %}

{% block content %}
{% load static %}


<div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Light table</h3>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Date Ordered</th>
                <th scope="col" class="sort" data-sort="name">Order ID</th>
                
                <th scope="col">Price</th>
                <th scope="col" class="sort" data-sort="status">Status</th>
                <th scope="col">Users</th>
                
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="list">
              <tr>
                <th scope="row">
                    14-02-2020
                  </th>
                <th scope="row">
                  52689
                </th>
                
                <td>
                    $500

                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">pending</span>
                  </span>
                </td>
                <td>
                  Arshad
                </td>
                <td>
                  <button class="btn btn-primary">Proceed</button>
                </td>
                
              </tr>
              
              
            </tbody>
          </table>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}