{% extends 'default dashbord/base.html' %}

{% block content %}
{% load static %}


<div class="row">
  <div class="col">
    <div class="card">
      <!-- Card header -->
      <div class="card-header border-0">
        <h3 class="mb-0">PRODUCTS</h3>
      </div>
      <a href="{% url 'productadd' %}"><button class="btn btn-primary">Add Products</button></a>
      <br>
      <!-- <li class="nav-item submenu dropdown">
          
          <a href="{% url 'login' %}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Category</a>
            
            
           

          <ul class="dropdown-menu">
            
            {% for ca in  cat %}
            <li class="nav-item"><a class="nav-link" href="{% url 'shopgrid' %}">{{ca.cname}}</a></li>
            {% endfor %}
              
            
            
            
           
          </ul>
        </li> -->
      <!-- Light table -->
      <div class="table-responsive">





        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col" class="sort" data-sort="name">Image</th>
              <th scope="col" class="sort" data-sort="name">Product Name</th>
              <th scope="col">

                <li class="nav-item submenu dropdown">

                  <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">Category</a>




                  <ul class="dropdown-menu">

                    {% for ca in  cat %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'categorysortadmin' ca.id %}">{{ca.cname}}</a></li>
                    {% endfor %}





                  </ul>
                </li>
              </th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>



              <th scope="col">Action</th>
            </tr>
          </thead>
          {% for prod in product  %}
          <tbody id="myTable" class="list">
            <tr>
              <th scope="row">
                <img width="50px" src="{% static 'images' %}/{{prod.image}}" alt="">
              </th>
              <th scope="row">
                {{prod.name}}
              </th>
              <td>
                {{prod.cname}}
              </td>

              <td>
                {{prod.qty}}

              </td>
              <td>
                ${{prod.price}}
              </td>


              <td>
                <a href="{% url 'productedit' prod.id %}"><button class="btn btn-primary">Edit</button></a>
                <a href="{% url 'productdelete' prod.id %}"
                  onclick="return confirm('Are you sure you want to delete this?')"><button
                    class="btn btn-danger">Delete</button></a>
              </td>

            </tr>


          </tbody>
          {% endfor %}
        </table>

      </div>

    </div>
  </div>
</div>

{% endblock %}