{% extends 'user/base.html' %}


{% block content %}
    {% load static %}

    
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table">
                      <thead>

                          <tr>
                              <th scope="col">Product</th>
                              <th scope="col">Price</th>
                              <th scope="col">Quantity</th>
                              
                              <th scope="col">Total</th>
                              <th scope="col">Action</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% if order != None %}
                        {% for item in order.orderitem_set.all %}
                          <tr>
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img class="img img-fluid" style="width: 100px;" src="{{item.product.imageURL}}" alt="">
                                      </div>
                                      <div class="media-body">
                                          <p>{{item.product.name}}</p>
                                      </div>
                                  </div>
                              </td>
                              <td>
                                  <h5>${{item.product.price|floatformat:2}}</h5>
                              </td>
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst" maxlength="12" value="{{item.quantity}}" title="Quantity:"
                                          class="input-text qty">
                                     
                                  </div>
                              </td>
                             
                              <td>
                                  <h5>${{item.get_total|floatformat:2}}</h5>
                              </td>
                              <td>
                                <a style="color: red;" href=""><i style="padding: 0 10px;" class="far fa-trash-alt"></i></a>
                                <a href="{% url 'productdetails' item.product.id %}"><i  class="fas fa-pen-alt"></i></a>
                              </td>
                          </tr>
                          {% endfor %}
                          {% else %}
                         <tr>
                             <td>
                                 <h1>sdc</h1>
                             </td>
                         </tr>
                          {% endif %}
                          
                          
                         
                          <tr>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5>Subtotal</h5>
                              </td>
                              <td>
                                  <h5>$2160.00</h5>
                              </td>
                          </tr>
                                                    <tr class="out_button_area">
                              <td class="d-none-l">

                              </td>
                              <td class="">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="gray_btn" href="{% url 'landingpage' %}">Continue Shopping</a>
                                      <a class="primary-btn ml-2" href="{% url 'checkout' %}">Proceed to checkout</a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
  {% endblock content %}