{% extends 'user/base.html' %}


{% block content %}





<!--================Checkout Area =================-->
<section class="checkout_area section-margin--small">
    <div class="container">

        <div class="row">
            {% for shi in ship  %}
            <div class="col-md-4">
                <div class="card text-center card-product"
                    style="background-color:rgba(38, 0, 255, 0.3);; color: black;">





                    <div class="card-body" style="color: black;">
                        <h6 id="addd1" data-mo="{{shi.address1}}">{{shi.address1}}</h6>
                        <p id="addd2">{{shi.address2}}</p>
                        <p id="addd3">{{shi.address3}}</p>
                        <p id="addd4">{{shi.state}}</p>
                        <input id="myCheck" name="{{shi.id}}" type="checkbox">

                    </div>

                </div>
            </div>
            {% endfor %}
        </div>




        <div class="returning_customer">



            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Billing Details</h3>
                        <form class="row contact_form" action="#" method="post" id="form1" name="myForm"
                            novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="add1" placeholder="Address 1" name="add1"
                                    required>

                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="add2" placeholder="Address 2" name="add2"
                                    required>

                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="add3" name="add3" placeholder="Address 3"
                                    required>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="city" placeholder="City" name="city"
                                    required>

                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="mob" placeholder="Mobile No" name="mob"
                                    required>

                            </div>





                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP"
                                    required>
                            </div>



                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">
                                        <h4>Product <span>Total</span></h4>
                                    </a></li>
                                {% for item in order.orderitem_set.all %}
                                {% if item.complete == False %}
                                <li><a href="#">{{item.product.name}} <span class="middle">x {{item.quantity}}</span>
                                        <span class="last">${{item.get_total|floatformat:2}}</span></a></li>
                                {% endif %}
                                {% endfor %}

                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Subtotal <span>${{tot}}</span></a></li>
                                <li><a href="#">Shipping <span>Free</span></a></li>
                                <li><a href="#">Total <span>${{tot}}</span></a></li>
                            </ul>



                            {% if user.is_authenticated %}
                            <div class="text-center">
                                <a class="button button-paypal" id="shipping">Proceed to Paypal</a>
                            </div>
                            {% else %}
                            <div class="text-center">
                                <a href="{% url 'login' %}" class="button button-paypal" id="">Proceed to Paypal</a>
                            </div>

                            {% endif %}


                        </div>
                    </div>


                </div>
            </div>
        </div>
</section>
<!--================End Checkout Area =================-->
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- <script src="{% static 'user/js/index.js' %}"></script> -->
<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    });


    $(document).ready(function () {
        $('#shipping').click(function (e) {
            var isValid = true;
            $('#add1,#add2,#add3,#zip,#city,#mob').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red",
                        "background": "#FFCECE"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""

                    });

                }
            });
            if (isValid == false) {
                e.preventDefault();
                console.log("asfs");
                alert("Enter Valid Data")
            }
            else {
                console.log("Success");

                const add1 = document.getElementById('add1').value
                const add2 = document.getElementById('add2').value
                const add3 = document.getElementById('add3').value
                const city = document.getElementById('city').value
                const mob = document.getElementById('mob').value
                const zip = document.getElementById('zip').value

                $.ajax({
                    url: 'shippinaddress/',
                    type: 'post',
                    data: {
                        ad1: add1,
                        ad2: add2,
                        ad3: add3,
                        cityy: city,
                        mobb: mob,
                        zipp: zip,
                        csrfmiddlewaretoken: csrftoken
                    },

                    success: function (respose) {
                        alert("Cart Added Successfully");
                        // window.location.replace("http://localhost:8000/payment");
                        document.location.href ="{% url 'payment'  %}"
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        // alert("Status: " + textStatus); alert("Error: " + errorThrown);
                        alert("Enter Your Valid Data")
                    }
                });
            }


        });
    });
</script>
<script>
    $(document).ready(function () {
        const a1 = document.querySelectorAll('#addd1')
        var yyy = document.querySelectorAll("#myCheck")
        // 
        console.log(a1)
        console.log(yyy);
        yyy.forEach((dd) => {
            const sss = dd.name
            console.log(sss);



            $(dd).change(function () {
                if (dd.checked == true) {
                    console.log("error")
                    console.log(dd.name)

                    $.ajax({
                        url: '/getshipping/',
                        type: 'GET',
                        data: {
                            ship_id: dd.name
                        },
                        success: function (response) {


                            console.log(response.count2.address1)
                            console.log(response.count2.address2)
                            console.log(response.count2.address3)
                            console.log(response.count2.city)
                            console.log(response.count2.mob)
                            console.log(response.count2.zip)

                            $("#add1").val(response.count2.address1)
                            $("#add2").val(response.count2.address2)
                            $("#add3").val(response.count2.address3)
                            $("#city").val(response.count2.city)
                            $("#mob").val(response.count2.mob)
                            $("#zip").val(response.count2.zip)



                        }

                    });



                } else {
                    $("#add1").val("")
                    $("#add2").val("")
                    $("#add3").val("")
                    $("#city").val("")
                    $("#mob").val("")
                    $("#zip").val("")
                }

            })

            // console.log(yyy)




        })


    })
</script>


{% endblock content %}