{% extends 'user/base.html' %}

{% block content %}
  
{% load static %}
  
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->	
	
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
          <div class="sidebar-categories">
            <a  style="height: 150px ;" href="{% url 'shopgrid' %}"><div  class="head">Browse Categories</div></a>
            <ul class="main-categories">
              <li class="common-filter">
                
                  <ul>
                    
                     
                    {% for cat in category  %}
                    
                    
                    <a href="{% url 'categorysort' cat.cname  %}"><li class="filter-list"><label for="men">{{cat.cname}}</label></li></a><br>
                    {% endfor %}
                 
                  </ul>
                </form>
              </li>
            </ul>
          </div>
          
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          <div class="filter-bar d-flex flex-wrap align-items-center">
            <div class="sorting">
              <select>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
              </select>
            </div>
            <div class="sorting mr-auto">
              <select>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
              </select>
            </div>
            <div>
              <div class="input-group filter-bar-search">
                <input type="text" placeholder="Search">
                <div class="input-group-append">
                  <button type="button"><i class="ti-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">


              {% for product in products  %}
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{% static 'images' %}/{{product.image}}" alt="">
                    <ul class="card-product__imgOverlay">
                     
                      <li><a href="{% url 'productdetails' product.id %}"><button><i class="ti-shopping-cart"></i></button></a></li>
                  <li><a href="{% url 'addwishlist' product.id %}"><button><i class="ti-heart"></i></button></a></li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <p>{{product.came}}</p>
                    <h4 class="card-product__title"><a href="#">{{product.name}}</a></h4>
                    <p class="card-product__price">${{product.price}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            
           
         
           
           
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	
	<!-- ================ top product area end ================= -->		

	<!-- ================ Subscribe section start ================= -->		  
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Get Update From Anywhere</h3>
        <p>Bearing Void gathering light light his eavening unto dont afraid</p>
        <div id="mc_embed_signup">
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

          </form>
        </div>
        
      </div>
    </div>
  </section>
	<!-- ================ Subscribe section end ================= -->		  


  {% endblock content %}