{% extends 'user/base.html' %}


{% block content %}
	

	

	<!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->

  {% for message in messages %}
		<div class="alert alert-danger">
			 {{message}} <a href="{% url 'register' %}"><button value="submit" class="button button-login w-100">Register Your Account</button></a>
		  </div>
		{% endfor %}
	<section class="login_box_area section-margin">
		
		<div class="container">
			<div class="row">
				
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Enter Your Mobile Number</h3>
						
						<form class="row login_form" action="" id="contactForm" method="POST" >
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="phone" placeholder="Mobile Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mobile Number'">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="button button-login w-100">Send OTP</button>
								
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
	{% endblock content %}


  