{% extends 'user/base.html' %}


{% block content %}
	
	{% load static %}
	<!-- ================ start banner area ================= -->	


  <!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid" src="{{product.imageURL}}" alt="">
						</div>
						<!-- <div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="img/category/s-p1.jpg" alt="">
						</div> -->
					</div>
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.name}}</h3>
						<h2>${{product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{product.cname}}</a></li>
							
						</ul>
						<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for
							something that can make your interior look awesome, and at the same time give you the pleasant warm feeling
							during the winter.</p>
						<div class="product_count">
              <label for="qty">Quantity:</label>
			  <form method="POST" action="{% url 'productdetails' product.id %}">
				{% csrf_token %}
							
							<input type="text" name="qty"  size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							
							<!-- <a class="button primary-btn" href="#">Add to Cart</a> -->
							<input style="width: 180px;" class="button primary-btn" type="submit" value="Add to Cart">
							
				</form>
						</div>
						<div class="card_area d-flex align-items-center">
							
							<a class="icon_btn" href="#"><i class="ti-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->
	<br>
	<br>
	<br>

	<section class="related-product-area section-margin--small mt-0">
		<div class="container">
			<div class="section-intro pb-60px">
        
        <h2>Related <span class="section-intro__style">Product</span></h2>
      </div>
		<div class="row mt-30">
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="#"><img src="{% static 'user/img/product/product-sm-1.png' %}" alt=""></a>
              <div class="desc">
                  <a href="#" class="title">Gray Coffee Cup</a>
                  <div class="price">$170.00</div>
              </div>
            </div>
           
            
          </div>
        </div>


        

        
      </div>
		</div>
	</section>
	<!--================ end related Product area =================-->  	

	{% endblock content %}
