{% extends 'user/base.html' %}


{% block content %}
	
	{% load static %}

	

	<!-- ================ start banner area ================= -->	


  <!--================Single Product Area =================-->

<style>
	#lens{
		height: 180px;
		width: 180px;
		
	}
	#content-wrapper{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#featured{
	max-width: 500px;
	max-height: 600px;

	cursor: pointer;
	border: 2px solid black;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	margin-top: 30px;
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}

#img-container{
	z-index: 1;
	max-width: 500px;
	position: relative;
}

#lens{
	z-index: 2;
	position: absolute;

	height: 125px;
	width: 125px;
	border:2px solid black;
	background-repeat: no-repeat;
	cursor: none;

}



</style>
  
	




	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
					<!-- <div class="owl-carousel owl-theme s_Product_carousel">
						<div class="single-prd-item">
							<img class="img-fluid"  width="50" style="width: 300px !important;" src="{{product.imageURL}}"  alt="">
						</div>
						
					</div> -->
					<div id="img-container">
						<div id="lens"></div>
						<img id=featured src="{{product.imageURL}}">
					</div>
				
					
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{product.name}}</h3>
						<h2>${{product.price}}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> : {{product.cname}}</a></li>
							
						</ul>
						<p>{{product.description}}</p>
						<div class="product_count">
              <label for="qty">Quantity:</label>
			  <form method="POST" action="{% url 'productdetails' product.id %}">
				{% csrf_token %}
							
							<input type="text" name="qty"  size="2" maxlength="12" value="1" title="Quantity:" class="input-text qty">
							
							<!-- <a class="button primary-btn" href="#">Add to Cart</a> -->
							<input style="width: 180px;" class="button primary-btn" type="submit" value="Add to Cart">
							
				</form>
						</div>
						<div class="card_area d-flex align-items-center">
							
							<a class="icon_btn" href="{% url 'addwishlist' product.id %}"><i class="ti-heart"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================End Product Description Area =================-->

	<!--================ Start related Product area =================-->
	<br>
	<br>
	<br>

	<section class="related-product-area section-margin--small mt-0">
		<div class="container">
			<div class="section-intro pb-60px">
        
        <h2>Related <span class="section-intro__style">Product</span></h2>
      </div>
		<div class="row mt-30">
        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
          <div class="single-search-product-wrapper">
            <div class="single-search-product d-flex">
              <a href="#"><img src="{% static 'user/img/product/product-sm-1.png' %}" alt=""></a>
              <div class="desc">
                  <a href="#" class="title">Gray Coffee Cup</a>
                  <div class="price">$170.00</div>
              </div>
            </div>
           
            
          </div>
        </div>


        

        
      </div>
		</div>
	</section>


<script src="{% static 'user/js/slider.js' %}"></script>
<script src="{% static 'user/js/script.js' %}"></script>

	
	<!--================ end related Product area =================-->  	

	{% endblock content %}
