{% extends 'user/base.html' %}

{% block content %}
  
{% load static %}
  
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->	
	
	<!-- ================ end banner area ================= -->


	<!-- ================ category section start ================= -->		  
  <section class="section-margin--small mb-5">
    <div class="container">
      <div class="row">
       
        <div class="col-xl-9 col-lg-8 col-md-7">
          <!-- Start Filter Bar -->
          
          <!-- End Filter Bar -->
          <!-- Start Best Seller -->
          <section class="lattest-product-area pb-40 category-list">
            <div class="row">

             
             
               
             
                

              {% for wish in wishlist  %}

              
              {% if wish.user == request.user %}
                
                
                
                
              
              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{% static 'images'%}/{{wish.image}}" alt="">
                    <ul class="card-product__imgOverlay">
                      
                      <li><a href="{% url 'productdetails' wish.product_id %}"><button><i class="ti-shopping-cart"></i></button></a></li>
                      <li><a href="{% url 'removewishlist' wish.product_id %}"><button><i class="ti-heart"></i></button></a></li>
                      
                    </ul>
                  </div>
                  <div class="card-body">
                  
                    <h4 class="card-product__title"><a href="#">{{wish.name}}</a></h4>
                    <p class="card-product__price">${{wish.price}}</p>
                  </div>
                </div>
              </div>
              
                
              
              {% elif customer == wish.customer %}

              <div class="col-md-6 col-lg-4">
                <div class="card text-center card-product">
                  <div class="card-product__img">
                    <img class="card-img" src="{% static 'images'%}/{{wish.image}}" alt="">
                    <ul class="card-product__imgOverlay">
                      
                      <li><a href="{% url 'productdetails' wish.product_id %}"><button><i class="ti-shopping-cart"></i></button></a></li>
                      <li><a href="{% url 'removewishlist' wish.product_id %}"><button><i class="ti-heart"></i></button></a></li>
                      
                    </ul>
                  </div>
                  <div class="card-body">
                  
                    <h4 class="card-product__title"><a href="#">{{wish.name}}</a></h4>
                    <p class="card-product__price">${{wish.price}}</p>
                  </div>
                </div>
              </div>
              
              
              
              {% endif %}

              {% endfor %}
             
            
           
         
           
           
            </div>
          </section>
          <!-- End Best Seller -->
        </div>
      </div>
    </div>
  </section>
	<!-- ================ category section end ================= -->		  

	<!-- ================ top product area start ================= -->	
	
	<!-- ================ top product area end ================= -->		

	<!-- ================ Subscribe section start ================= -->		  
  <section class="subscribe-position">
    <div class="container">
      <div class="subscribe text-center">
        <h3 class="subscribe__title">Get Update From Anywhere</h3>
        <p>Bearing Void gathering light light his eavening unto dont afraid</p>
        <div id="mc_embed_signup">
          <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
            <div class="form-group ml-sm-auto">
              <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
              <div class="info"></div>
            </div>
            <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
            <div style="position: absolute; left: -5000px;">
              <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
            </div>

          </form>
        </div>
        
      </div>
    </div>
  </section>
	<!-- ================ Subscribe section end ================= -->		  


  {% endblock content %}